[mysqld]
user=mysql
datadir=/srv/mariadb/data
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
performance_schema=off

skip-networking
skip-bdb

max_connections=8
innodb_buffer_pool_size=64M
key_buffer=1M
query_cache_size=4M
query_cache_limit=512K
thread_stack=96K
max_allowed_packet = 1M

[mysqld_safe]
log-error=/srv/mariadb/logs/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
